/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* Ruta relativa a la carpeta donde colocaste los archivos de fuente */
@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype'); /* Cambia la ruta según la ubicación de tus archivos de fuente */
  font-weight: normal;
  font-style: normal;
}

/* Establece la fuente "Playfair Display" para todo el texto */
* {
  font-family: 'Playfair Display', serif;
}


/* globals.css */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto; 
}


:root {
    --primary-color: #101e51;
    /* --primary-color: black; */
    --secondary-color: white;
    --primary-text-color: white;
    --secondary-text-color: #101e51;
    /* --secondary-text-color: black; */
    --cursor-color: #101e51;
}

.react-photo-gallery--gallery div {
  justify-content: center;
  text-align: -webkit-center;
}
.react-photo-gallery--gallery div img {
  padding: 1px;
  transform: translateY(0);
  transition: transform 0.2s;
  max-width: 15vw !important;
  margin-bottom: 30px !important;
}

.react-photo-gallery--gallery div h3 {
  justify-content: center;
  text-align: -webkit-center;
  margin-top: -20px;
  padding-bottom: 10px;
}


.react-photo-gallery--gallery div img:hover
{
  transform: translateY(-20px);
  transition: transform 0.2s;
}
  
.shawn-footer-button {
    background-color: var(--primary-color) ;
    color: var(--primary-text-color);
    border-color: var(--primary-color);
  }
  .shawn-footer-button:hover {
    
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
  }

.shawn-primary-text-color {
    color: var(--primary-text-color);
}


.shawn-secondary-text-color {
    color: var(--secondary-text-color);
}

.shawn-primary-bg-color {
  background-color: var(--primary-color);
}


.shawn-secondary-bg-color {
  background-color: var(--secondary-color);
}


/* Estilos para el contenedor de botones */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40vh; /* La tercera parte de la altura de la pantalla */
  font-size: var(--secondary-text-color); /* Establece el color de la fuente */
  margin-top:-100px;
}

/* Estilos para los botones */
.left-button,
.right-button {
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  height: 100%; /* Ocupa toda la altura del contenedor */
  width: 40vw; /* Ocupa toda la altura del contenedor */
  justify-content: center;
  text-align: center;
}
.main-option  {
  
  font-size: 80px !important;
}
@media (max-width: 1000px) {

  .main-option  {
      font-size: 20px !important;
  } 
  .button-container hr {
    width: 2px !important;
  }
  
}

/* Estilo específico para el botón izquierdo */
.left-button {
  margin-right: 5px;
  transform: scale(1);
  transition: transform 0.2s;
}

/* Estilo específico para el botón derecho */
.right-button {
  margin-left: 5px;
  transform: scale(1);
  transition: transform 0.2s;
}

.left-button:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.right-button:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

/* Estilos para la línea separadora */
.button-container hr {
  width: 4px;
  height: 50%;
  background-color: var(--primary-color);
  align-self: center;
}

.lightbox {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
  opacity: 0;
  z-index: 9998;
  overflow: auto; /* Permite el desplazamiento si el contenido es más grande que la pantalla */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Alinea el contenido al centro */
}
.lightbox-active {
  display: grid;
  opacity: 1; /* Visible al activarse */
  transition: opacity 0.3s; /* Transición de opacidad */
}
.scroll-lock {
  display: flex;
  overflow: hidden;
}
.lightbox-content {
  max-width: 80%;
  padding: 20px;
  color: var(--primary-text-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 90%;
  place-self: center;
}
.lightbox-close {
  position: fixed; /* Cambia a 'fixed' para que esté en relación con la ventana del navegador */
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: var(--primary-text-color);
}

.lightbox-image {
  max-width: 100%;
  height: auto;
  max-height: 60vh;
}

.lightbox-info h2 {
  font-size: 24px;
}

.lightbox-nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
}

.lightbox-nav-button {
  color: var(--primary-text-color);
  font-size: 33px;
  border: none;
  cursor: pointer;
  margin: 0 10px; /* Añade un margen entre los botones */
}

.custom-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  color: var(--secondary-text-color); /* Aplicamos el color desde la variable global */
}

.custom-form label {
  margin-bottom: 8px;
}

.custom-form input,
.custom-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.custom-form button {
  background-color: var(--secondary-text-color); /* Usamos el color global como fondo del botón */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.custom-form button:hover {
  background-color: #090c33; /* Cambia el color de fondo en el hover si lo deseas */
}